body {
    background-color: black;
    color: white;
}

.background-top {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.background-bottom {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.page {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
